
{# #templates/category/new.html.twig #}

{% extends "base.html.twig" %}

{% block content %}

        <section class="container mt-5">
            <h1>Ajoutez une série</h1>
            <article class="listAllCategory m-auto">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn buttonNew" type="submit">Add category</button>
        {{ form_end(form) }}
            </article>
        </section>
{% endblock %}